* {
    /*font-family: 'Lexend Deca', sans-serif;*/
    /*font-family: 'Inter', sans-serif;*/
    color: white;
}


@media screen and (max-width: 375px) {

    main {
        padding: 50px 20px;
        background-color: hsl(233, 47%, 7%);
    }

    .container {
        border-radius: 10px;
        background-color: hsl(244, 38%, 16%);
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 100px;
    }

    h1 {
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 700;
        font-size: 25px;
        padding: 10px;
    }

    p {
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: hsla(0, 0%, 100%, 0.75);
        line-height: 1.7;
        margin: 0;
    }

    .stats {
        font-size: 20px;
    }

    img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        opacity: 0.4;
        height: auto;
        max-width: 300px;
        z-index: 2;
        object-fit: cover;
    }

    .image-overlay {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: absolute;
        z-index: 1;
        background: linear-gradient(blue, blue);
    }
}